#pic {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  height: 200px;
  width: 250px;
}
#para{
font-style: italic;
color: brown;
font-size: 25px;
font-size: large;
  font-size: 150%;
}
.favorite{
   position: absolute;
        top: 25px;
        right: 25px;
        border: 1px solid #000000;
        z-index: 2;
}
.somthing{
  color: white;
}



body {
 background-image: url("./images/bgr.jpg");
 background-repeat: no-repeat;
}