#pic {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 350px;
}
#para{
font-style: italic;
color: white;
}
.favorite{
   position: absolute;
        top: 25px;
        right: 25px;
        border: 1px solid #000000;
        z-index: 2;
}